ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4e4c4c;
}
  
li {
    float: left;
    padding: 15px 15px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.myFlex {
    display: flex;
    justify-content: space-between;
}

img {
    height: 50px;
}

.center {
    color: white;
    font-size: 25px;
    padding: 25px 60px;
    text-decoration: none;
}

.wapBody {
    width: 80%;
    margin: auto;
}

.wapFooter {
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.logout {
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 15px 15px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.right {
    text-align: right;
}

.myButton {
    background-color: #7f8281;
    margin-top: 50px;
    border: none;
    color: rgb(17, 17, 17);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button { 
    background-image: url('./add-to-cart.jpg'); 
    background-size:cover;
    border: none;
    cursor:pointer;
    width: 107px;
    height: 30px;
}

.button:hover {
    color: yellow;
    background-color: aquamarine;
    
}

.button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.btnCenter {
    text-align: center;
}

td:hover {
    background-color: #5c5f5d;
}

button:hover {
    background-color: rgb(152, 196, 184);
}

button:active {
    background-color: #667266;
    transform: translateY(4px);
}
